.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 480px) {
  .main {
    padding-top: var(--spacing-section);
    padding-bottom: var(--spacing-section);
  }
}
